---
title: Nepal 2024
layout: base.njk
---

<div class="container">
  <h1>Trip Agenda</h1>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Australia%2FBrisbane&bgcolor=%23ffffff&showCalendars=0&mode=AGENDA&showPrint=0&showNav=0&showTitle=0&src=ZDdjNTlhNTU4NDJhMTZiNWJjZjhkNDJiYTJjZThiYjIwNGVmNjYzMzU0ZWJmN2QyZGM0OGQ0MGVmMzZkM2I1N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>



